@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;1,900&family=Oswald:wght@700&family=Raleway:ital,wght@0,400;0,700;1,400&family=Rubik+Lines&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Bitter:ital,wght@0,100;1,900&family=Oswald:wght@700&family=Raleway:ital,wght@0,400;0,700;1,400&family=Rubik+Lines&display=swap');









body {
    background-color: brown;
}

main {
   
}

.note-patch {
    color: wheat;
    font-size: 1em;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-arrow {
    display: flex;
    justify-content: start;
    
}

.img-arrow {
    width: 15em;
    height: 15em;
}

button {
    background-color: wheat;
    border: solid 3px black;
    border-radius: 10px;
    font-family: 'calibri';
}

.div-h1 {
    display: flex;
    justify-content: center;
    
}

h1 {
    background-color: wheat;
    padding: 0.5em;
    border: solid 5px black;
    font-size: 3.5em;
    text-align: center;
    border-radius: 10px;
}

.div-h2 {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    background-color: wheat;
    padding: 0.5em;
    margin: 2em;
    border: solid 5px black;
    font-size: 1.5em;
    width: 15%;
    border-radius: 10px;
}

.div-img-ar {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    text-align: center;
}

.div-img-ar img {
    width: auto;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: 1em;
    border-radius: 10px;
}

.div-div-trad {
    display: flex;
    justify-content: center;
}

.div-trad {
    width: 30%;
}

.div-trad p {
    color: wheat;
    font-size: 1.8em;
    text-align: justify;
    font-family: 'bitter';
    font-weight: bolder;
    
}

.div-audio {
    display: flex;
    justify-content: center;
}

.div-div-liste {
    display: flex;
    justify-content: center;
}

.div-liste {
    
}

ul a {
    text-decoration: none;
    color: wheat;
    font-family: 'bitter';
    font-weight: 800;
    font-size: 1.5em;
}

ul a:hover {
    color: black;
}

footer p {
    text-align: center;
    margin-top: 10em;
    border-top: solid 1px black;
    font-family: 'Courier New', Courier, monospace;
}

/* Styles spécifiques pour les écrans de petite taille */
@media only screen and (max-width: 600px) {

    
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.note-patch {
    color: wheat;
    font-size: 0.5em;
}

.div-arrow {
    display: flex;
    justify-content: start;
    
}

.img-arrow {
    width: 10em;
    height: 10em;
}


.div-h1 {
    display: flex;
    justify-content: center;
    
}

h1 {
    background-color: wheat;
    padding: 0.5em;
    border: solid 5px black;
    font-size: 2em;
    border-radius: 10px;
}

.div-h2 {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    background-color: wheat;
    padding: 0.5em;
    width: 100%;
    border: solid 3px black;
    border-radius: 10px;
    font-size: 1.5em;
    
}

.div-div-img-ar {
    display: flex;
    justify-content: center;
}

.div-img-ar {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    text-align: center;
    width: 80%;
    
}

.div-img-ar img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: 1em;
    border-radius: 10px;
}

.div-div-trad {
    display: flex;
    justify-content: center;
}

.div-trad {
    width: 80%;
}

.div-trad p {
    color: wheat;
    font-size: 1.1em;
    text-align: justify;
    font-family: 'bitter';
    font-weight: bolder;
    
}

.div-audio {
    display: flex;
    justify-content: center;
}

footer p {
    text-align: center;
    margin-top: 10em;
    border-top: solid 1px black;
    font-family: 'Courier New', Courier, monospace;
}
    
}



@media only screen and (min-width: 600px) and (max-width: 1400px) {
    
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-arrow {
    display: flex;
    justify-content: start;
    
}

.img-arrow {
    width: 15em;
    height: 15em;
}


.div-h1 {
    display: flex;
    justify-content: center;
    
}

h1 {
    background-color: wheat;
    padding: 0.5em;
    border: solid 5px black;
    font-size: 3.5em;
    text-align: center;
}

.div-h2 {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    background-color: wheat;
    padding: 0.5em;
    margin: 2em;
    border: solid 5px black;
    font-size: 2em;
    width: 30%;
}

.div-img-ar {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    text-align: center;
}

.div-img-ar img {
    width: auto;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: 1em;
    border-radius: 10px;
}

.div-div-trad {
    display: flex;
    justify-content: center;
}

.div-trad {
    width: 60%;
}

.div-trad p {
    color: wheat;
    font-size: 1.8em;
    text-align: justify;
    font-family: 'bitter';
    font-weight: bolder;
    
}

.div-audio {
    display: flex;
    justify-content: center;
}

footer p {
    text-align: center;
    margin-top: 10em;
    border-top: solid 1px black;
    font-family: 'Courier New', Courier, monospace;
}
}


@media only screen and (min-width: 600px) and (max-width: 800px) {

    .div-h2 {
        display: flex;
        justify-content: center;
    }
    
    h2 {
        text-align: center;
        background-color: wheat;
        padding: 0.5em;
        margin: 2em;
        border: solid 5px black;
        font-size: 2em;
        width: 40%;
    }
    
    .div-trad {
        width: 75%;
    }
    
    }

    
@media only screen and (min-width: 300px) and (max-width: 400px) {
    h2 {
        font-size: 1em;

    }

    ul {
        font-size: 0.7em;
    }
}